<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= best_in_place  @profile, :title , :path => [:admin, :profile],:as => :input, :place_holder => "Click me to add content!"%>

</p>

<p>
  <strong>Place:</strong>
  <%= @profile.place.area_name %>
</p>

<p>
  <strong>City:</strong>
  <%= @profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @profile.image.url(:thumb), alt: @profile.image.url(:thumb) %>
</p>

<p>
  <strong>Diety:</strong>
  <%= @profile.diety %>
</p>

<p>
  <strong>Religion:</strong>
  <%= @profile.religion %>
</p>

<p>
  <strong>Type:</strong>
  <%= @profile.temple_type %>
</p>

<p>
  <strong>About Temple:</strong>
  <%= raw(@profile.about_temple) %>
</p>
<%= link_to 'Edit', edit_admin_profile_path(@profile) %> |
<%= link_to 'Back', admin_profiles_path %>
